
<div class="row row-cols-3">
    <div class="col">
        <h4>!!!!PIZZA PAZZA!!!!</h4>
    </div>
    <div class="col">
        <h4>!!!!PAZZA PIZZA!!!!</h4>
    </div>
    <div class="col">
        <h4>!!!!PIZZA PAZZA!!!!</h4>
    </div>
 </div>